<div>
  <div class="tldr-query">
    <h1>My Tech stack</h1>
    <div class="action-btns">
      <mat-form-field appearance="fill">
        <mat-label>Categories分類</mat-label>
        <select matNativeControl [(ngModel)]="selectedCategory" name="category">
          <option value="" selected>ALL</option>
          <option *ngFor="let category of categories" [value]="category.value">
            {{ category.viewValue }}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>

  <div
    class="tldr-bar-list"
    [@listAnimation]="chunks"
    [transition-group]="'flip-list'"
    (click)="shuffle()"
  >
    <div
      class="tldr-bar-item"
      *ngFor="let chunk of chunks"
      transition-group-item
    >
      <div class="chunk-word">
        <p class="chunk-name">{{ chunk.chunk }}</p>
        <p class="chunk-des">{{ chunk.des ? chunk.des : "&#160;" }}</p>
      </div>
      <mat-progress-bar
        class="chunk-bar"
        mode="determinate"
        value="{{ chunk.point * 10 }}"
        matTooltip="{{ chunk.point * 10 }}"
        color="{{
          chunk.type === 'F'
            ? 'primary'
            : chunk.type === 'B'
            ? 'accent'
            : 'warn'
        }}"
      ></mat-progress-bar>
    </div>
  </div>
  <!-- if chunk changes, trigger listAnimation -->
  <!-- <mat-chip-list class="mat-chip-list-stacked chip-list" [@listAnimation]="chunks" [transition-group]="'flip-list'" (click)="shuffle()">
        <mat-chip *ngFor="let chunk of chunks" color="accent" selected="{{chunk.selected}}" >
            {{ chunk.chunk }}
        </mat-chip>
    </mat-chip-list> -->
</div>
