.tldr-query {
  display: flex;
  justify-content: center;
  align-items: center;
  & > * {
    margin-right: 8px;
  }

  @media (max-width: 600px) {
   flex-direction: column;
  }
}

.tldr-bar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 48px;
  @media (min-width: 375px) {
    padding: 16px;
  }
}

.tldr-bar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
  flex: 1;
  margin: 16px;
}
.chunk-word {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  .chunk-des {
    font-size: 0.7rem;
    color: #444;
    margin: 0;
  }
  .chunk-name {
    margin: 0;
  }
}

.chunk-bar {
  width: 200px;
  height: 40px;
  border-radius: 8px;
  @media (max-width: 600px) {
    height: 24px;
    width: 100%;
  }
}

.action-btns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  & > button {
    max-width: 120px;
    padding: 4px;
    margin-bottom: 16px;
    margin-right: 8px;
  }
}

.chip-list {
  margin-right: 16px;
}
