<div>
  <div class="tldr-query">
    <h1>My Tech stack</h1>
    <div class="action-btns">
      <button mat-raised-button (click)="getChunks()">All</button>
      <!-- <button mat-raised-button (click)="reorder()">Reorder</button> -->
      <button mat-raised-button (click)="showF()">Frontend</button>
      <button mat-raised-button (click)="showB()">Backend</button>
      <button mat-raised-button (click)="showDev()">Devops</button>
    </div>
  </div>

  <div
    [@listAnimation]="chunks"
    [transition-group]="'flip-list'"
    (click)="shuffle()"
  >
    <div class="tldr-bar-list" *ngFor="let chunk of chunks" transition-group-item>
      <p class="chunk-name">{{ chunk.chunk }}</p>
      <mat-progress-bar
        class="chunk-bar"
        mode="determinate"
        value="{{ chunk.point * 10 }}"
        color="{{
          chunk.type === 'F'
            ? 'primary'
            : chunk.type === 'B'
            ? 'accent'
            : 'warn'
        }}"
      ></mat-progress-bar>
    </div>
  </div>
  <!-- if chunk changes, trigger listAnimation -->
  <!-- <mat-chip-list class="mat-chip-list-stacked chip-list" [@listAnimation]="chunks" [transition-group]="'flip-list'" (click)="shuffle()">
        <mat-chip *ngFor="let chunk of chunks" color="accent" selected="{{chunk.selected}}" >
            {{ chunk.chunk }}
        </mat-chip>
    </mat-chip-list> -->
</div>
