.tldr-query {
  display: flex;
  justify-content: center;
  align-items: center;
  & > * {
    margin-right: 8px;
  }
}

.tldr-bar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  p {
    width: 120px;
  }
}

.chunk-name {
  margin: 0;
}
.chunk-bar {
  width: 240px;
  height: 16px;
  border-radius: 4px;
}

.action-btns {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  & > button {
    max-width: 120px;
    padding: 4px;
    margin-bottom: 16px;
    margin-right: 8px;
  }
}

.chip-list {
  margin-right: 16px;
}
