.root-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  & > p {
    line-height: 80px;
    font-size: 208px;
  }
}
